nav {
      background-color: black;
    }
 a{
      color: black;
    }

.navbar-nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 20px;
}
.navbar-brand{
    font-family: impact, fantasy ;
    font-style: bold;
    font-size: 50px;

}
.navbar-link{
    margin-left: 20px;
    font-family: fantasy;
    font-style: bold;
    font-size: 30px;
    color: black;
  }

  header {
    font-family: impact, fantasy;
    font-style: bold;
    font-size: 25px;
    color: black;
  }

  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
 
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
