<div class=" row  mt-5">
  <div class="col-md-6 m-auto">
      <div>
          <h1 class="text-center">AUCTION HOUSE</h1>
          <p class="text-center"> To Start Bidding or Selling </p>
          <p class="text-center"> Create an Acoount or Login</p>
          <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
          <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
  </div>
</div>